/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ROOT */

:root {
    --colorPrimario: #0F5959;
    --colorSecundario: #0A3A40;
    --colorTerciario : #1D7373;
    --colorCuaternario: #042326;
    --colorQuinto: #107361;

    --fuente: "Ubuntu", sans-serif;

    --header-height: 3.5rem;
    --nav-width: 219px;
}

@media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/* GLOBAL */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente);
    background-color: var(--colorSecundario);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    gap: 20px;
}

/* WEB COMPONENTS */

add-actives {
    display: none;
}
delete-actives {
    display: none;
}
show-actives {
    display: none;
}
update-actives {
    display: none;
}


/* NAVEGACION */

header {
    background-color: var(--colorCuaternario);
}

.navbar {
    padding: 20px;
}

.contenedor-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--colorSecundario);
    padding: 10px;
    border-radius: 10px;
}

.img-logo {
    width: 50px;
    height: 50px;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;

    transition: all ease 0.2s;
}
.img-logo:hover {
    transform: rotateY(180deg);
    scale: 1.1;
}

.nav-text_link {
    font-size: 1.3rem;
    color: white;

    transition: all ease 0.2s;
}
.nav-text_link:hover {
    padding: 10px;
    border-radius: 10px;
    color: var(--colorCuaternario);

    scale: 1.1;
}

/* SIDEBAR */

.show {
    animation-name: abrirForm;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-iteration-count: 1;
}

@keyframes abrirForm {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.close {
    animation-name: cerrarForm;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    animation-play-state: running;

}

@keyframes cerrarForm {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

.cont-close_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 20px;

    transition: transform 0.3s ease;
}
.close-button:hover {
    transform: rotateZ(180deg);
}

.nav {
    visibility:hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorCuaternario);
    width: 80%;
    height: 100%;

}

.aside-item {
    display: flex;
    flex-direction: column;


}


.item-link {
    display: flex;
    width: 90%;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;

}

.item-title {
    display: flex;
    padding: 15px;
    background-color: var(--colorTerciario);
    border-top: solid 2px var(--colorPrimario);
    border-bottom: solid 2px var(--colorPrimario);
    align-items: center;

    transition: background-color 0.3s ease;
}
.item-title:hover{
    background-color: var(--colorPrimario);
}

.dropdown {
    display: none;
    list-style: none;
    padding: 10px;
    flex-direction: column;
    background-color: var(--colorQuinto);

}

.dropdown-item {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--colorSecundario);
    padding: 15px;
    border: solid 2px var(--colorPrimario);

    transition: scale 0.2s ease;
}
.dropdown-item:hover {
    scale: 1.02;
}


.link-dropdown_center {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}


@media screen and (min-width: 600px) {
    .nav {
        width: 20%;
    }
}
/* VENTANAS MODALES */ 

.cont-dialog {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    padding: 20px;
    width: 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 51px 100% rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 1px 51px 200px rgba(0,0,0,0.34);
    box-shadow: 0px 1px 51px 800px rgba(0,0,0,0.34);
}

.btn-cancelar {
    background-color: red;
    margin: 10px;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
.btn-cancelar:hover {
    background-color: #a90720;
}
.btn-aceptar {
    background-color: #63d46e;
    margin: 10px;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
.btn-aceptar:hover {
    background-color: green;
}

/* FORMULARIOS */

.contenedor-formulario {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor-titulo_principal {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.titulo-formulario {
    font-size: 2rem;
    color: var(--colorPrimario);
}

.cont-form {
    width: 50%;
    background-color: var(--colorCuaternario);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-form_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 20px;
    background-color: var(--colorQuinto);
    border-radius: 10px;
}

.text-id {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.cont-input {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
    color: white;
    border-top: 2px solid var(--colorCuaternario);
    border-bottom: 2px solid var(--colorCuaternario);
    margin: 5px;
    padding: 10px;
}
.input-form{
    width: 80%;
    margin: auto;
    padding: 5px;
    font-size: 1.05rem;
    border-radius: 10px;
    border: 2px solid var(--colorPrimario);
}

.contenedor-inputs_seleccionar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
}

.cont-input_select {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: var(--colorSecundario);
    padding: 10px;
    align-items: center;
    border-radius: 10px;

}

.input-seleccionar {
    width: 70%;
}
.titulo-select {
    text-decoration: underline;
}

.input-anadir {
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    background-color: var(--colorPrimario);
    color: white;
    border-radius: 10px;
    border: 2px solid var(--colorTerciario);
    text-align: center;

    transition: background-color 0.3s ease;
}
.input-anadir:hover {
    background-color: var(--colorQuinto);
    border: 2px solid var(--colorTerciario);
}

/* MEDIA QUERYS */

@media screen and (max-width: 600px) {
    .cont-form {
        width: 100%;
        border-radius: 0;
    }

    .cont-dialog {
        width: 80%;
    }
}

/* ELIMINAR */

.button-delete {
    background-color: var(--colorSecundario);
    color: white;
    padding: 20px;
    border-radius: 10px;

    transition: background-color 0.3s ease;
}

.button-delete:hover {
    background-color: red;
}

/* EDITAR */

update-actives {
    width: 100%;
}

#activeFoundActualize {
    width: 100%;
}


#EditActiveForm {
    width: 100%;
}

.button-editar {
    background-color: var(--colorSecundario);
    color: white;
    padding: 20px;
    border-radius: 10px;

    transition: background-color 0.3s ease;
}

.button-editar:hover {
    background-color: rgba(37, 138, 233, 0.726);
}

/* LISTAR ACTIVOS */

